@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
  font-style: normal;
  font-weight: 800;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-yellow: #f7e296;
  --button-yellow: #f0c52e;
  --basic-gray-light: #e5e5e5;
  --footer-dark: #363636;
  --footer-yellow-line: #ffc600;
  --dark-gray: #dcdcdc;
  --bar-green: #91c92f;
  --nav-gray: #ebebeb;
  --nav-gray-dark: #d9d9d9;
  --input-silver: #f2f2f2;
  --input-silver-hover: #eaeaea;
  --input-invalid-pink: #f6dada;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(transparent 40px, var(--basic-yellow) 40px);
}

.main-logo {
  display: block;
  width: 163px;
  height: 35px;
  padding-top: 20px;
  padding-left: 60px;
}

.navigation,
.interaction-items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
}

.navigation {
  padding-bottom: 35px;
  padding-right: 56px;
}

.navigation {
  flex-direction: column;
}

.interaction-items {
  margin: 0;
  padding-right: 60px;
  padding-top: 30px;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:focus {
  opacity: 0.3;
}

.interaction-items a,
.navigation a {
  color: var(--basic-black);
}

.interaction-items,
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.site-search {
  position: relative;
  padding-left: 35px;
  padding-bottom: 14px;
}

.site-search input {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.search-button-wrapper {
  display: none;
  position: absolute;
  width: 440px;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid var(--basic-black);
}

.site-search button {
  position: absolute;
  width: 84px;
  text-transform: uppercase;
  padding: 14px 0;
  right: 0;
  bottom: -2px;
  border: 2px solid var(--basic-black);
  background-color: transparent;
}

.site-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
  color: var(--basic-black);
}

.site-search input:focus + .search-button-wrapper {
  display: block;
}

.site-search button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.site-search button:focus {
  color: rgb(255, 255, 255, 0.3);
}

.interaction-items a:hover,
.site-navigation a:hover {
  opacity: 0.6;
}

.interaction-items a:focus,
.site-navigation a:focus {
  opacity: 0.3;
}

.compare-black {
  margin-right: 43px;
}

.login-black a,
.cart-black a,
.compare-black a,
.items-catalog {
  position: relative;
}

.login-black svg,
.compare-black svg,
.cart-black svg {
  position: absolute;
  left: 0;
  top: 4px;
}

.login-black {
  margin-left: auto;
}

.cart-black svg {
  top: 5px;
}

.link-to-login-black a:first-child,
.link-to-unlogin-black a:first-child {
  padding-left: 25px;
}

.link-to-login-black {
  margin-right: 213px;
}

.link-to-unlogin-black {
  margin-right: 62px;
}

.link-to-unlogin-black a:first-child {
  margin-right: 17px;
}

.login-black-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-black-link {
  display: none;
}

.login-black-show {
  display: block;
}

.compare-black a {
  padding-left: 26px;
}

.cart-black a {
  padding-left: 23px;
}

.items-catalog {
  padding-right: 35px;
}

.site-search::before,
.items-catalog::before {
  position: absolute;
  content: "";
}

.site-search::before {
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px;
  background-image: url("../img/icon-search.svg");
}

.items-catalog::before {
  width: 22px;
  height: 22px;
  right: 0;
  top: 0;
  background-image: url("../img/icon-plus.svg");
}

.menu-catalog ul {
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 63px;
  grid-row-gap: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 42px;
  padding-left: 60px;
  padding-right: 56px;
  margin-top: 20px;
  left: -60px;
  background-color: var(--basic-yellow);
  z-index: 1;
}

.menu-catalog li:nth-child(5) {
  grid-column: 2 / -1;
}

.items-catalog:hover + ul,
.items-catalog:focus + ul {
  display: grid;
}

.menu-delivery {
  margin-left: auto;
  margin-right: 35px;
}

.menu-guarantee {
  margin-right: 108px;
}

.product {
  display: none;
  grid-template-columns: 600px 1fr;
  background-image: linear-gradient(
    var(--basic-yellow) 129px,
    var(--basic-white) 129px
  );
}

.product img {
  padding-left: 89px;
}

.popular-products {
  position: relative;
}

.popular-products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-card {
  font-family: "Gilroy", "Arial", sans-serif;
  position: relative;
  padding-right: 82px;
}

.item-card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  left: 0;
  top: 34px;
  background-color: var(--basic-white);
}

.item-number {
  position: absolute;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  top: -17px;
  color: var(--basic-white);
}

.first-item-card .item-number {
  right: 47px;
}

.product h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  margin-top: 93px;
}

.item-description {
  font-family: "Open Sans", "Arial", sans-serif;
  margin-top: 26px;
}

.product ul {
  list-style: none;
}

.button-yellow-gradient {
  box-sizing: border-box;
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 0;
  padding-left: 3px;
  outline: none;
  color: var(--basic-black);
  background-image: linear-gradient(
    transparent 16px,
    var(--button-yellow) 16px,
    var(--button-yellow) 23px,
    transparent 23px
  );
}

.button-yellow-gradient:hover {
  background-color: var(--button-yellow);
}

.company-info .button-yellow-gradient:focus,
.details-button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.details-button {
  box-sizing: border-box;
  width: 220px;
  margin-top: 51px;
  padding-right: 6px;
  padding-left: 10px;
}

.specifications {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 17px;
}

.specifications p {
  letter-spacing: 0.1em;
}

.specifications p:first-child {
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  margin-top: 35px;
}

.specifications p:last-child {
  font-size: 13px;
  line-height: 15px;
  padding-top: 2px;
}

.specifications li:not(:last-child) {
  margin-right: 61px;
}

.slider-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 326px;
  right: 88px;
  padding: 0;
  padding-top: 14px;
}

.slider-toggle {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
}

.slider-toggle-current::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  padding: 0;
  left: 2px;
  top: 2px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
}

.slider-toggle:not(:last-child) {
  margin-right: 18px;
}

.items-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  padding-top: 95px;
}

.items-list a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.items-list h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 160px;
  margin-top: 38px;
  color: var(--basic-black);
}
.product-image-box {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--basic-yellow);
}

.items-list a:hover .product-image-box {
  background-color: var(--button-yellow);
}

.items-list a:focus img,
.items-list a:focus h3 {
  opacity: 0.3;
}

.fitness-braclet h3 {
  letter-spacing: normal;
}

.monopod .product-image-box {
  box-sizing: border-box;
  padding-top: 10px;
}

.our-terms {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 0 140px;
  padding-top: 15px;
  padding-bottom: 25px;
  background-image: linear-gradient(
    var(--basic-white) 165px,
    var(--basic-gray-light) 165px
  );
}

.our-terms-slider {
  box-sizing: border-box;
  position: relative;
  list-style: none;
  width: 277px;
  padding-left: 0;
  padding-top: 116px;
  padding-bottom: 104px;
}

.our-terms-slider::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  top: 38px;
  left: 277px;
  background-color: var(--basic-black);
}

.our-terms h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 123px;
}

.our-terms p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.our-terms-offers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer-info {
  display: none;
  position: relative;
  padding-left: 123px;
}

.offer-info::before {
  content: "";
  position: absolute;
}

.delivery-info::before {
  width: 136px;
  height: 164px;
  right: 2px;
  top: 0;
  background-image: url(../img/delivery-man.svg);
}

.delivery-info p {
  width: 495px;
}

.offer-info-show {
  display: block;
}

.warranty-info p {
  width: 574px;
}

.warranty-info::before {
  width: 171px;
  height: 195px;
  right: -16px;
  top: -20px;
  background-image: url(../img/warranty.svg);
}

.credit-info p {
  width: 540px;
}

.credit-info::before {
  width: 156px;
  height: 188px;
  right: 8px;
  top: -23px;
  background-image: url(../img/credit.svg);
}

.our-terms-button {
  box-sizing: border-box;
  width: 160px;
  border: none;
  background-color: transparent;
}

.our-terms-slider li:nth-child(2) {
  margin-top: 21px;
}

.our-terms-slider li:nth-child(3) {
  margin-top: 23px;
}

.our-terms-button:focus,
.our-terms-button-active {
  box-sizing: unset;
  width: 258px;
  padding-left: 19px;
  text-align: left;
  color: var(--basic-yellow);
  background-color: var(--basic-black);
  background-image: none;
}

.partners-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 92px;
  padding: 0;
}

.partners-list a {
  display: block;
  width: 260px;
  height: 100px;
}

.dji {
  background-image: url(../img/logo-dji.png);
}

.dji:hover {
  background-image: url(../img/logo-dji-active.png);
}

.spgadjet {
  background-image: url(../img/logo-spgadjet.png);
}

.spgadjet:hover {
  background-image: url(../img/logo-spgadjet-active.png);
}

.gopro {
  background-image: url(../img/logo-gopro.png);
}

.gopro:hover {
  background-image: url(../img/logo-gopro-active.png);
}

.vive {
  background-image: url(../img/logo-vive.png);
}

.vive:hover {
  background-image: url(../img/logo-vive-active.png);
}

.company-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 74px;
}

.company-info ul {
  list-style: none;
  margin-top: 62px;
  padding: 0;
  padding-left: 32px;
}

.company-info h2,
.company-info li,
.company-info a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.company-info h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.company-info li {
  font-size: 16px;
  line-height: 28px;
}

.company-info a {
  width: 260px;
}

.company-info p {
  line-height: 28px;
}

.about,
.contacts {
  position: relative;
  padding-top: 17px;
}

.about::before,
.contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: 0;
  background-color: var(--basic-black);
}

.about {
  padding-right: 107px;
}

.about li {
  position: relative;
}

.about li:not(:first-child) {
  margin-top: 15px;
}

.about li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  left: -32px;
  top: 10px;
  border: 2px solid var(--basic-gray-light);
  border-radius: 50%;
  background-color: transparent;
}

.about a {
  margin-top: 68px;
}

.contacts {
  padding-left: 20px;
}

.about::before {
  left: 0;
}

.contacts::before {
  left: 20px;
}

.company-info p:nth-child(3) {
  margin-top: 40px;
}

.map-button {
  width: 560px;
  height: 222px;
  margin-top: 28px;
  border: none;
  outline: none;
  background-image: url(../img/map.png);
}

.contacts a,
.write-us-button {
  margin-top: 72px;
}

.write-us-button {
  font-family: "Gilroy", "Arial", sans-serif;
  width: 260px;
  border: none;
  outline: none;
  background-color: transparent;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  color: var(--basic-white);
  background-color: var(--footer-dark);
}

.our-address,
.conditions-social,
.contact-us {
  padding-bottom: 50px;
}

.footer ul {
  list-style: none;
}

.our-address {
  position: relative;
  grid-row: 1 / -1;
  padding-top: 64px;
  padding-left: 140px;
}

.our-address p {
  margin-top: 36px;
}

.our-address::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  left: 140px;
  bottom: 78px;
  background-color: var(--footer-yellow-line);
}

.conditions-social {
  grid-row: 2 / -1;
}

.interaction-items-footer {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.contact-us {
  grid-row: 2 / -1;
  grid-column: 3 / -1;
}

.interaction-items-footer {
  padding-right: 140px;
  padding-top: 31px;
}

.interaction-items-link {
  margin-left: auto;
}

.compare-white-link {
  margin-right: 44px;
}

.interaction-items-white-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.login-white-links-list {
  padding: 0;
  margin-right: 39px;
}

.link-to-unlogin-white a:first-child {
  margin-right: 20px;
}

.login-white {
  display: none;
}

.login-white-show {
  display: block;
}

.conditions {
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  padding-top: 39px;
  padding-left: 28px;
}

.conditions a {
  color: var(--basic-white);
}

.conditions li:not(:last-child) {
  margin-right: 33px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 170px;
  padding-top: 50px;
}

.social-list a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-list a:hover {
  opacity: 0.6;
}

.social-list a:focus {
  opacity: 0.1;
}

.facebook {
  background-image: url(../img/facebook.svg);
}

.instagram {
  background-image: url(../img/instagram.svg);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.contact-us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 61px;
  padding-right: 140px;
}

.interaction-items-white-list a {
  color: rgba(255, 255, 255, 0.7);
}

.interaction-items-white-list a:hover {
  color: var(--basic-white);
  fill-opacity: 0.6;
}

.interaction-items-white-list a:focus {
  opacity: 0.3;
}

.login-white,
.compare-white,
.cart-white {
  position: relative;
}

.login-white svg,
.compare-white svg,
.cart-white svg {
  position: absolute;
  left: 0;
}

.login-white {
  padding-left: 26px;
}

.login-white svg {
  top: 4px;
}

.compare-white {
  padding-left: 25px;
}

.compare-white svg {
  top: 4px;
}

.cart-white {
  padding-left: 21px;
}

.cart-white svg {
  top: 4px;
}

.footer-phone,
.website-by-logo {
  margin-left: auto;
}

.footer-phone {
  margin-bottom: 7px;
  color: var(--basic-white);
}

.logo-footer:hover,
.conditions a:hover,
.website-by-logo:hover {
  opacity: 0.6;
}

.logo-footer:focus,
.conditions a:focus,
.website-by-logo:focus {
  opacity: 0.3;
}

/* страница catalog */

.main-catalog ul {
  list-style: none;
}

.navigation-catalog {
  padding-left: 140px;
  margin-left: 0;
}

.navigation-catalog h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding-left: 60px;
  padding-top: 59px;
  margin: 0;
  background-image: linear-gradient(var(--basic-yellow) 15px, transparent 15px);
}

.navigation-catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
  padding-left: 60px;
}

.navigation-catalog-list a {
  opacity: 0.3;
}

.navigation-catalog-list a:hover {
  opacity: 0.6;
}

.navigation-catalog-list a:focus {
  opacity: 0.1;
}

.navigation-catalog li:not(:last-child) {
  margin-right: 40px;
}

.navigation-catalog a {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  color: var(--basic-black);
}

.navigation-catalog-main::before,
.navigation-catalog-items::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 13px;
  right: -27px;
  top: 3px;
  background-image: url(../img/icon-arrow-nav.svg);
}

.catalog-items-section {
  display: grid;
  grid-template-columns: 468px 1fr;
  margin-top: 50px;
}

.filter-form {
  grid-column: 1 / 2;
}

.items-list-catalog {
  grid-column: 2 / -1;
  padding-bottom: 77px;
}

.filter-form h3 {
  background-color: var(--dark-gray);
  margin: 0;
  padding: 25px 0;
}

.filter-form h3 {
  padding-left: 200px;
}

.sorting-items {
  padding: 9px 0;
}

.sorting-items,
.sorting-items ul {
  display: flex;
  flex: wrap;
}

.sorting-items,
.filter-form {
  background-color: var(--basic-gray-light);
}

.filter-form h3,
.filter-form legend,
.sorting-items p,
.catalog-products {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.filter-form h3,
.sorting-items p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-items p {
  padding-left: 72px;
  margin-right: 73px;
}

.sorting-items-list {
  padding: 0;
}

.sorting-items-list a,
.filter-form li,
.bluetooth-radio label {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.sorting-items-list a {
  opacity: 0.3;
}

.sorting-items-list a:hover {
  opacity: 0.6;
}

.sorting-items-list a:focus {
  opacity: 1;
}

.sorting-items-list li:not(:last-child) {
  margin-right: 32px;
}

.range-controls {
  position: relative;
  width: 200px;
  height: 20px;
  padding-top: 34px;
  background-color: transparent;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range-controls .bar {
  width: 126px;
  height: 2px;
  background-color: var(--bar-green);
}

.range-controls .toggle {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 114px;
}

.price-controls {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.price-controls input {
  margin: 0;
  padding: 0;
  width: 50px;
  border: none;
  background-color: transparent;
}

.min-price input {
  margin-right: 25px;
}

.filter-form legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.range-filter {
  margin-top: 85px;
}

.filter-form fieldset {
  position: relative;
  border: none;
  padding-left: 198px;
}

.filter-form fieldset::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  left: 198px;
  top: -16px;
  background-color: var(--basic-black);
}

.colors {
  margin-top: 43px;
}

.filter-input-checkbox + label {
  position: relative;
  padding-left: 42px;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::before {
  opacity: 0.6;
}

.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.colors ul {
  padding: 0;
  margin: 0;
  margin-top: 28px;
}

.colors li:not(:first-child) {
  margin-top: 20px;
}

.bluetooth-radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 47px;
}

.bluetooth-radio-button + label {
  position: relative;
  padding-left: 40px;
}

.bluetooth-radio-button:nth-child(2) + label {
  margin-top: 25px;
}

.bluetooth-radio-button:nth-child(4) + label {
  margin-top: 21px;
}

.bluetooth-radio-button + label::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  top: -1px;
  background-image: url(../img/radio-off.svg);
}

.filter-input-checkbox:focus + label,
.bluetooth-radio-button:focus + label {
  outline: 1px solid var(--basic-black);
  outline-offset: 5px;
}

.bluetooth-radio-button:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.bluetooth-radio-button + label:hover::before,
.bluetooth-radio-button + label:focus::before,
.bluetooth-radio-button:checked + label:hover::before {
  opacity: 0.6;
}

.bluetooth-radio-button:checked + label:focus::before {
  opacity: 1;
}

.bluetooth-radio-button:disabled + label,
.bluetooth-radio-button:checked:disabled + label,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label {
  opacity: 0.25;
}

.show-button {
  font-family: "Gilroy", "Arial", sans-serif;
  border: none;
  padding-left: 37px;
  padding-right: 43px;
  margin-top: 34px;
  margin-left: 200px;
  background-color: transparent;
}

.arrow {
  width: 18px;
  height: 18px;
  margin-top: 16px;
}

.arrow path {
  fill-opacity: 0.2;
}

.arrow:hover path {
  fill-opacity: 0.4;
}

.arrow:focus path {
  fill-opacity: 1;
}

.arrow-up {
  margin-left: 224px;
}

.arrow-down {
  margin-left: 16px;
}

.catalog-products {
  padding-left: 72px;
  padding-right: 140px;
  padding-top: 69px;
}

.catalog-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.items-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 26px;
}

.item-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 270px;
  margin: 0;
  color: var(--basic-black);
}

.item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 2px;
}

.add-to-cart-button {
  border: none;
  width: 200px;
  background-color: transparent;
}

.add-to-cart-button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.add-to-comparison-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  outline: none;
  opacity: 0.5;
  background-color: transparent;
}

.add-to-comparison-button:hover {
  opacity: 1;
}

.add-to-comparison-button:focus {
  opacity: 0.2;
}

.product-buying-buttons {
  display: none;
  position: absolute;
  top: 170px;
  left: 76px;
}

.catalog-products-list li {
  position: relative;
}

.catalog-products-list li:hover img {
  opacity: 0.7;
}

.catalog-products-list li:hover .product-buying-buttons {
  display: block;
}

.catalog-products-list li:nth-child(3),
.catalog-products-list li:nth-child(4) {
  margin-top: 47px;
}

.add-to-comparison-button {
  padding-left: 18px;
  padding-top: 13px;
}

.new-product::before {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "new";
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: transparent;
}

.page-numbers-nav,
.page-numbers-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-numbers-nav {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 39px;
  background-color: var(--nav-gray);
}

.page-numbers-nav a {
  color: var(--basic-black);
}

.page-numbers-nav-list {
  padding: 0;
  margin: 0;
  padding: 25px 0;
}

.page-numbers-nav-list li:not(:last-child) {
  margin-right: 30px;
}

.page-numbers-nav-list a {
  opacity: 0.3;
}

.page-numbers-nav-list a:hover {
  opacity: 0.6;
}

.page-numbers-nav-list a:focus {
  opacity: 1;
}

.back,
.next {
  display: block;
  text-align: center;
  padding: 25px 0;
  width: 120px;
}

.back:hover,
.next:hover {
  background-color: var(--nav-gray-dark);
}

.back:focus,
.next:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* popup'ы */

.map-popup {
  display: none;
  box-sizing: border-box;
  position: fixed;
  width: 994px;
  height: 593px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.map-popup-show {
  display: block;
}

.popup-close-cross {
  position: fixed;
  width: 55px;
  height: 55px;
  padding: 0;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--button-yellow);
}

.map-close-button {
  left: 925px;
  top: 20px;
}

.popup-close-cross::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 12px;
  background-image: url(../img/close-cross.svg);
}

.popup-close-cross:hover {
  opacity: 1;
}

.popup-close-cross:focus {
  opacity: 0.3;
}

.write-us-form {
  position: fixed;
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Gilroy", "Arial", sans-serif;
  width: 960px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 100px;
  padding-top: 92px;
  padding-bottom: 61px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  background-color: var(--basic-white);
}

.write-us-form-show {
  display: flex;
}

.write-us-form label {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 0 20px;
  padding-top: 16px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--input-silver);
}

.name-surname {
  margin-right: 40px;
}

.name-surname > input,
.email-box > input {
  box-sizing: border-box;
  width: 360px;
  padding-bottom: 15px;
}

.mail-text {
  margin-top: 31px;
}

.mail-text > textarea {
  box-sizing: border-box;
  width: 760px;
  height: 167px;
}

.write-us-submit {
  width: 200px;
  border: none;
  margin-top: 46px;
  align-self: flex-start;
  background-color: transparent;
}

.write-us-close-button {
  left: 884px;
  top: 20px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: var(--input-silver-hover);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  outline: 2px solid var(--basic-yellow);
  background-color: transparent;
}

.write-us-form input:invalid {
  outline: none;
  background-color: var(--input-invalid-pink);
}

.product-item-show {
  display: grid;
}

.first-item-card,
.third-item-card {
  padding-bottom: 7px;
}

.second-item-card img {
  padding-left: 115px;
  padding-top: 26px;
}

.second-item-card .item-description {
  width: 450px;
}

.second-item-card .item-number {
  right: 55px;
}

.third-item-card img {
  padding-left: 30px;
  padding-top: 82px;
}

.third-item-card h2 {
  position: relative;
  z-index: 1;
}

.third-item-card .item-card {
  padding-right: 69px;
}

.third-item-card .item-description {
  width: 470px;
}

.third-item-card .item-number {
  right: 53px;
}
